SECRET_KEY=change-this-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin123!
ADMIN_DISPLAY_NAME=Admin Sertifikat
GOOGLE_TOKEN_PATH=/home/ubnt/.hermes/google_token.json
SOFFICE_PATH=
MAX_PARALLEL_WORKERS=2
JOB_RETRY_COUNT=1
DB_COMMIT_BATCH_SIZE=25
