SECRET_KEY=ganti-dengan-secret-random
DATABASE_URL=sqlite:////home/ubnt/incident-portal/instance/incident_portal.db
DEFAULT_EMPLOYEE_PASSWORD=ChangeMe123!
ADMIN_NIP=admin
ADMIN_NAME=Administrator Portal TI
ADMIN_PASSWORD=Admin123!
SIGNAL_ACCOUNT=
SIGNAL_GROUP_ID=
SIGNAL_CLI_PATH=/usr/local/bin/signal-cli
SIGNAL_HTTP_URL=http://127.0.0.1:8080
